@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 1.8rem;
  }

  p,
  li {
    font-size: 1.4rem;
  }

  body {
    margin: 0.8rem 0 0 0;
    /* color: #707070; */
    font-family: sans-serif;
  }

  #hamburger-container {
    padding-top: 2rem;
  }

  .hamburger-item {
    background-color: #707070;
    margin: 0.6rem 0.6rem 0.6rem 2rem;
    width: 3.5rem;
    height: 0.5rem;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
  }

  header#nav-header {
    margin: auto;
    padding-right: 6.1rem;
  }

  #mobile-header-line {
    width: 100%;
    height: 0.1rem;
    background-color: #707070;
    margin-top: 0.6rem;
  }

  #mobile-nav {
    position: absolute;
    top: -0.1rem;
    background-color: #707070;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    margin: 0 auto;
    width: 0;
    height: 0;
    text-align: center;
    transition: all 0.1s;
  }

  a.nav-link {
    display: none;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 3.6rem 0 3.6rem 0;
    -webkit-tap-highlight-color: green;
  }

  a.nav-link:nth-child(1) {
    margin-top: 0;
    padding-top: 3.6rem;
  }

  div.code-container {
    padding-left: 0.2rem;
    border-style: solid;
    border-width: 0.1rem 0.1rem 0 0.1rem;
    border-color: darkgrey;
    margin: 0 auto;
    width: 90%;
    background-color: lightgrey;
    box-sizing: border-box;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  div.code-container::-webkit-scrollbar-track {
    background-color: #e0e0e0;
  }

  div.code-container::-webkit-scrollbar {
    width: 10px; /* maybe not needed */
    background-color: #e0e0e0;
  }

  div.code-container::-webkit-scrollbar-thumb {
    background-color: grey;
  }

  div.code-container p {
    font-size: 1.2rem;
  }
}
