$nav_background: linear-gradient(skyblue, lightgrey);
$nav_text: black;
$link_color: #3f7bbf;

// common between mobile and desktop
body {
  margin: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: $link_color;
}

div.code-container {
  padding-left: 1rem;
  border-style: solid;
  border-width: 0.1rem 0.1rem 0 0.1rem;
  border-color: rgb(221, 221, 221);
  border-radius: 0.3rem;
  margin: 0 auto;
  width: 90%;
  background-color: rgb(248, 248, 248);
  box-sizing: border-box;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}

div.code-container::-webkit-scrollbar-track {
  background-color: rgb(221, 221, 221);
}

div.code-container::-webkit-scrollbar {
  background-color: #e0e0e0;
}

div.code-container::-webkit-scrollbar-thumb {
  background-color: lightgrey;
  border-radius: 0.3rem;
}

// desktop
@media screen and (min-width: 769px) {
  #navbar {
    display: none;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 18px;
  }

  p,
  li {
    font-size: 16px;
    line-height: 1.9;
  }

  li {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  #pc-navbar {
    position: fixed;
    top: 0%;
    border-right: 2px solid lightgrey;
    background-color: white;
    width: 300px;
    height: 100vh;
    overflow: auto;
  }

  header#pc-nav-header {
    padding-left: 15px;
  }

  div#pc-nav {
    margin: 0 auto;
  }

  a.pc-nav-link {
    border-top: 1px solid black;
    font-size: 14px;
    line-height: 5;
    display: block;

    padding-left: 15px;
  }

  a.pc-nav-link:last-child {
    border-bottom: 1px solid black;
  }

  #main-doc {
    padding-left: 350px;
    padding-right: 40px;
  }

  footer {
    margin: 0 auto;
    padding-left: 302px;
    text-align: center;
  }
}

// mobile
@media screen and (max-width: 768px) {
  #pc-navbar {
    display: none;
  }

  html {
    font-size: 10px;
    margin-top: 5rem;
  }

  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  li {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  p,
  li {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  section {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    margin-bottom: 4rem;
  }

  #hamburger-container {
    padding-top: 2rem;
  }

  .hamburger-item {
    background-color: $nav_text;
    margin: 0.6rem 0.6rem 0.6rem 2rem;
    width: 3.5rem;
    height: 0.5rem;
  }

  #navbar {
    position: fixed;
    display: flex;
    width: 100%;
    top: 0%;
    background-image: $nav_background;
    color: $nav_text;
    transition: height 0.1s;
  }

  header#nav-header {
    margin: auto;
    padding-right: 6.1rem;
  }

  #mobile-nav {
    /* styling for drop down */
    position: fixed;
    top: -0.1rem;
    background-color: white;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    margin: 0 auto;
    width: 0;
    height: 0;
    transition: width 0.2s;
  }

  a:visited {
    color: $link_color;
  }

  a.nav-link {
    border-top: 1px solid black;
    display: none;
    text-decoration: none;
    font-size: 1.6rem;
    padding-left: 1.5rem;
    line-height: 3;
    -webkit-tap-highlight-color: green;
  }

  a.nav-link:nth-child(1) {
    margin-top: 0;
    padding-top: 3.6rem;
  }

  div.code-container p {
    font-size: 1.2rem;
  }
  footer {
    margin: 0 auto;
    text-align: center;
  }

  footer p {
    font-size: 0.9rem;
  }

  name {
    font-family: "Courier New", Courier, monospace;
  }
}
