@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  h1 {
    font-size: 2.8em;
  }

  h2 {
    font-size: 1.9rem;
  }

  h3 {
    font-size: 1.6rem;
  }

  p {
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }

  li {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  p,
  li {
    font-size: 1.4rem;
    line-height: 1.6;
  }

  body {
    margin: 0.8rem 0 0 0;
    font-family: sans-serif;
  }

  section {
    padding-right: 1.4rem;
    padding-left: 1.4rem;
    margin-bottom: 4rem;
  }

  #hamburger-container {
    padding-top: 2rem;
  }

  .hamburger-item {
    background-color: #707070;
    margin: 0.6rem 0.6rem 0.6rem 2rem;
    width: 3.5rem;
    height: 0.5rem;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
  }

  header#nav-header {
    margin: auto;
    padding-right: 6.1rem;
  }

  #mobile-header-line {
    width: 100%;
    height: 0.1rem;
    background-color: #707070;
    margin-top: 0.6rem;
  }

  #mobile-nav {
    position: absolute;
    top: -0.1rem;
    background-color: #707070;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    margin: 0 auto;
    width: 0;
    height: 0;
    text-align: center;
    transition: all 0.1s;
  }

  a.nav-link {
    display: none;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 3.6rem 0 3.6rem 0;
    -webkit-tap-highlight-color: green;
  }

  a.nav-link:nth-child(1) {
    margin-top: 0;
    padding-top: 3.6rem;
  }

  div.code-container {
    padding-left: 1rem;
    border-style: solid;
    border-width: 0.1rem 0.1rem 0 0.1rem;
    border-color: rgb(221, 221, 221);
    border-radius: 0.3rem;
    margin: 0 auto;
    width: 90%;
    background-color: rgb(248, 248, 248);
    box-sizing: border-box;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
  }

  div.code-container::-webkit-scrollbar-track {
    background-color: rgb(221, 221, 221);
  }

  div.code-container::-webkit-scrollbar {
    background-color: #e0e0e0;
  }

  div.code-container::-webkit-scrollbar-thumb {
    background-color: lightgrey;
    border-radius: 0.3rem;
  }

  div.code-container p {
    font-size: 1.2rem;
  }
}
