html {
  font-size: 10px;
}

body {
  margin: 0.8rem 0 0 0;
  color: #707070;
  font-family: sans-serif;
}

.hamburger {
  background-color: #707070;
  margin: 0.6rem 0.6rem 0.6rem 2rem;
  width: 3.5rem;
  height: 0.5rem;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

header {
  font-size: 2rem;
  margin: auto;
  padding-right: 6.1rem;
}

#mobile-header-line {
  width: 100%;
  height: 0.1rem;
  background-color: #707070;
  margin-top: 0.6rem;
}

#mobile-nav {
  background-color: #707070;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 auto;
  width: 0;
  height: 0;
  text-align: center;
  transition: all 0.1s;
}

a {
  display: none;
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin: 36px 0 36px 0;
  -webkit-tap-highlight-color: green;
}

a:nth-child(1) {
  margin-top: 0;
  padding-top: 36px;
}
