html {
  font-size: 10px;
}

body {
  margin: 0.8rem 0 0 0;
  color: #707070;
  font-family: sans-serif;
}

.hamburger {
  background-color: #707070;
  margin: 0.6rem 0.6rem 0.6rem 2rem;
  width: 3.5rem;
  height: 0.5rem;
}

#navbar {
  display: flex;
  justify-content: space-between;
}

header {
  font-size: 2rem;
  margin: auto;
  padding-right: 6.1rem;
}

#mobile-header-line {
  width: 100%;
  height: 0.1rem;
  background-color: #707070;
  margin-top: 0.6rem;
}

a {
  display: none;
}

#mobile-nav {
  background-color: grey;
  margin: 0 auto;
  width: 0;
  height: 0;
  transition: all 0.1s;
}
