@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5rem;
  }

  body {
    margin: 0.8rem 0 0 0;
    color: #707070;
    font-family: sans-serif;
  }

  #hamburger-container {
    padding-top: 0.8rem;
  }

  .hamburger-item {
    background-color: #707070;
    margin: 0.6rem 0.6rem 0.6rem 2rem;
    width: 3.5rem;
    height: 0.5rem;
  }

  #navbar {
    display: flex;
    justify-content: space-between;
  }

  header#nav-header {
    margin: auto;
    padding-right: 6.1rem;
  }

  #mobile-header-line {
    width: 100%;
    height: 0.1rem;
    background-color: #707070;
    margin-top: 0.6rem;
  }

  #mobile-nav {
    position: absolute;
    top: -0.1rem;
    background-color: #707070;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    margin: 0 auto;
    width: 0;
    height: 0;
    text-align: center;
    transition: all 0.1s;
  }

  a {
    display: none;
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    margin: 3.6rem 0 3.6rem 0;
    -webkit-tap-highlight-color: green;
  }

  a:nth-child(1) {
    margin-top: 0;
    padding-top: 3.6rem;
  }
}
